.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  min-height: 100vh;
  text-align: center;
  gap: 1.5rem;
  background-color: rgba(99, 28, 158, 0.6); /* 배경 색상 조절 */
}

.description {
  font-size: 1.2rem;
  max-width: 90%;
  z-index: 2;
  color: #ffffff; /* 흰색 폰트로 변경 */
  font-family: 'Arial', sans-serif;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.button {
  padding: 1rem 2rem;
  border-radius: 8px;
  background-color: #007BFF;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: #0056b3;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(20%, auto));
  max-width: 90%;
  gap: 2rem;
}

.card {
  padding: 1.5rem 2rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.8); /* 투명도 조절된 흰색 */
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease;
  text-align: left;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
  font-size: 1.4rem;
}

.card p {
  margin: 0;
  opacity: 0.8;
  font-size: 1rem;
  line-height: 1.4;
  color: #333333;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

@media (max-width: 700px) {
  .main {
    padding: 3rem 1rem;
    border-radius: 12px;
  }

  .button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    max-width: 80%;
  }

  .card {
    padding: 1rem 1.5rem;
    border-radius: 8px;
  }

  .card h2 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  .card p {
    font-size: 0.9rem;
  }

  .center {
    padding: 6rem 0;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1);
  }
}

